#footer { position:relative; }
#footer .bannerArea{ background:#fff; padding:1.5rem 0; border-top:0.1rem solid #acacac }
#footer .bannerArea .bannerAreaWrap{ max-width:1440px; margin:auto; }
#footer .bannerArea .bannerAreaLsit{ display:inline-block; width:13rem; height:3.5rem; margin:0 0.8rem; vertical-align:middle; }
#footer .bannerArea .bannerAreaLsit a img{ width:100%; height:100%; object-fit: contain; }

.footer{ background:#333; }
.footCont{ display:flex; flex-direction: column; align-items: center; gap: 1rem; }
.footWrap { position:relative; max-width:1440px; margin:0 auto; padding:0 1.2rem 2rem; }
.footWrap .ftTop ul{ display:flex; }
.footWrap .ftTop ul li{ width:9rem; padding:3rem 0.5rem 1rem; }
.footWrap .ftTop ul li a{ color:#999; font-size:0.8rem; }
.footWrap .ftTop ul li.personal{ background:#222; }
.footWrap .ftTop ul li.personal a{ color:#fff; }
.footWrap .footTo > div{ display:inline-block; border:1px solid #999; border-radius:1rem; padding:1.5rem 1rem; }
.footWrap .footTo p { padding:0.3rem 0; }
.footWrap .footTo p span{ color:#999;display:inline-block; }
.footWrap .footTo p .footTxt{ text-align:left; width:4rem; }
.footWrap .footTo p .num{ text-align:right; min-width:5rem;  padding-left:1rem; }
.footWrap .footLogo{ width:12rem; margin:1.5rem 0 0.5rem;; }
.footWrap .footLogo img{ width:100%; }
.footInfo p{ color:#777; line-height:1.5; font-size:0.88rem; }
.footInfo p.copy{ color:#d7d7d7; font-weight:500; margin-top:1rem; font-size:0.8rem; }
