@font-face {
    font-family: 'Gmarket Sans';
    src: url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff');
    src: url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}