/* section - 비주얼 */
.visual{ position:relative; width:100%; height:350px; }
.visual .slick-slider, .visual .slick-slider .slick-list, .visual .slick-slider .slick-list .slick-track{ height:100%; }
.visual .visualLst img{ width:100%; height:100%; object-fit:cover; object-position:-170px; }
.visual .visualCont{ position:absolute; top:0; right:1rem;}

.visual .visualCont .visualTxt{ text-align:right; display:flex; flex-direction: column; align-items:flex-end; gap:3rem; }
.visual .visualCont .visualTxt .visualTop{ margin-top:20px; }
.visual .visualCont .visualTxt .visualTop p, .visual .visualTxt .visualTop p strong{ color:#fff; }
.visual .visualCont .visualTxt .visualTop p{ text-align:right; font-size:1rem; font-weight:400; padding:0.1rem 0; }
.visual .visualCont .visualTxt .visualTop p span{ color:#fff; font-size:1rem; }
.visual .visualCont .visualTxt .visualTop p strong{ font-weight:600; font-size:1.3rem; }
.visual .visualCont .visualTxt .visualBottom{ position:relative; min-width:280px }
.visual .visualCont .visualTxt .visualBottom h3{ position:relative; font-size:1.2rem; background:#ea002c; padding:5px 10px 5px 40px; border-radius:50px 0 0 50px; color:#fff; display:inline-block; z-index:1; }
.visual .visualCont .visualTxt .visualBottom .visualBox{ position:absolute; width:100%; top:1rem; background:url(../images/visualBg.png)no-repeat right; background-size:contain; padding:1.5rem 1rem 1rem 1.5rem; box-sizing:border-box; }
.visual .visualCont .visualTxt .visualBottom .visualBox h4{ font-size:20px; font-weight:600; color:#fff; }
.visual .visualCont .visualTxt .visualBottom .visualBox .vis_Txt{ margin-top:5px; }
.visual .visualCont .visualTxt .visualBottom .visualBox .vis_Txt p{ font-size:16px; text-align:left; color:#fff; text-overflow: ellipsis; overflow:hidden; white-space: nowrap; }
.visual .visualCont .visualTxt .visualBottom .visualBox .vis_Txt p.active{  }
.visual .visualCont .visualTxt .visualBottom .visualBox .more { margin-top:10px; }
.visual .visualCont .visualTxt .visualBottom .visualBox .more button{ border:1px solid #fff; color:#fff; padding:5px 15px; font-size:14px; border-radius:50px; background:transparent }
.visual .visualCont .visualTxt .visualBottom .visualBox .dots{ position:absolute; bottom:20px; left:50px; display:flex; gap:10px; }
.visual .visualCont .visualTxt .visualBottom .visualBox .dots p{ width:10px; height:10px; background:#999; border-radius:100%; text-indent:100%; white-space:nowrap; overflow:hidden; cursor:pointer; }
.visual .visualCont .visualTxt .visualBottom .visualBox .dots p.active, .visual .visualCont .visualTxt .visualBottom .visualBox .dots p:hover{ background:#ea002c; }
.visual .visualCont .visualTxt .visualBottom .visualBox .dots p:hover ~ .vis_Txt p{ display:block; }

/* visualCard */
.bannerCard{ position:relative; max-width:1360px; margin:-40px auto 0; padding:0 1rem; z-index:11; }
.bannerCard .banCardWrap{ display:flex; align-items:center; background:#f5f5f5; border-radius:1rem; width:100%; padding:1rem 1.5rem; box-shadow:0 0 0.6rem rgba(0,0,0,.3) }
.bannerCard div .cardIconImg{ height:3rem; width:3rem; margin:auto; text-align:center; background-size:contain; background-repeat:no-repeat; }
.bannerCard div p{ text-align:center; font-size:0.8rem; }
.bannerCard .linkServise_li{ padding:0.5rem 0; }
.bannerCard .linkServise_li p{ text-align:left; }
.bannerCard .linkServise_li p + p{ margin-top:0.5rem; }
.bannerCard .linkServise_li .linkServise{ font-size:1.2rem; font-weight:600; font-family:'Gmarket sans'; color:#000; margin-top:0; }
.bannerCard .banCardWrap{ width:100%; padding:1rem 0.89rem; }
.bannerCard .banCardWrap ul{ display:flex; flex-wrap:wrap; justify-content:space-around; gap:0.6rem; }
.bannerCard .banCardWrap ul li{ width:22%; }
.bannerCard .banCardWrap ul li a{ display:flex; flex-direction:column; gap:10px; justify-content:center; align-items:center; }
.bannerCard .banCardWrap ul li:nth-child(2) .cardIconImg{ background-image:url(../images/icon01.png); }
.bannerCard .banCardWrap ul li:nth-child(3) .cardIconImg{ background-image:url(../images/icon02.png); }
.bannerCard .banCardWrap ul li:nth-child(4) .cardIconImg{ background-image:url(../images/icon03.png); }
.bannerCard .banCardWrap ul li:nth-child(5) .cardIconImg{ background-image:url(../images/icon04.png); }
.bannerCard .banCardWrap ul li:nth-child(6) .cardIconImg{ background-image:url(../images/icon05.png); }
.bannerCard .banCardWrap ul li:nth-child(7) .cardIconImg{ background-image:url(../images/icon06.png); }
.bannerCard .banCardWrap ul li:nth-child(8) .cardIconImg{ background-image:url(../images/icon07.png); }

.bannerCard .banCardWrap ul li:hover .cardIconImg{ transition:.3s; }
.bannerCard .banCardWrap ul li:nth-child(1):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon01_on.png); }
.bannerCard .banCardWrap ul li:nth-child(2):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon02_on.png); }
.bannerCard .banCardWrap ul li:nth-child(3):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon03_on.png); }
.bannerCard .banCardWrap ul li:nth-child(4):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon04_on.png); }
.bannerCard .banCardWrap ul li:nth-child(5):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon05_on.png); }
.bannerCard .banCardWrap ul li:nth-child(6):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon06_on.png); }
.bannerCard .banCardWrap ul li:nth-child(7):hover .cardIconImg{ background-image:url(/resources/images/new_images/icon07_on.png); }

@media(max-width:380px){
    .bannerCard .banCardWrap ul li{ width:31%; }
}

/* 공통 */
.mainCom{ margin-top:3rem; padding:0 1.2rem; }
.mainCom h2 { width:100%; font-size:1.3rem; font-weight:600; color:#000 }
.mainCom h2 span{ color:#ea002c; font-size:1.6rem; font-weight:600; }
.mainCom h2 a{ float:right; margin-right:0; margin-top:0.3rem; font-size:0.88rem;  }
.mainCom h2:after{ content:''; display:block; clear:both; }
.mainComCont{ margin-top:1rem; }

.mainCom .moreBtn{ width:1.35rem; margin-top:0.2rem; }
.mainCom .moreBtn img{ width:100%; }
.smallTit{ font-size:1rem; text-align:center; margin-top:0.8rem; }
.smallTit strong{ font-weight:600; }

/* 공지사항 */
.mainNotice .noticeCont{ border-top:4px solid #000; }
.mainNotice .noticeCont .noticeLst{ padding:0.7rem 0.5rem; border-bottom:1px solid #d7d7d7 }
.mainNotice .noticeCont .noticeLst h3, .mainNotice .noticeCont .noticeLst p{ padding-left:1rem; }
.mainNotice .noticeCont .noticeLst h3{ position:relative; font-size:1rem; font-weight:500 }
.mainNotice .noticeCont .noticeLst h3:after{ content:''; position:absolute; left:0; top:0.6rem; width:0.35rem; height:0.35rem; background:#ea002c; }
.mainNotice .noticeCont .noticeLst .data{ font-size:0.88rem; color:#777; margin-top:0.5rem; }

/* news */
.mainNews{ position:relative; background:#f5f5f5; padding:1rem 1rem 1.8rem; }
.mainNews h2{ position:relative; }
.mainNews h2:after{ content:''; position:absolute; top:-1rem; left:0; width:3.5rem; height:0.4rem; background:#ea002c }
.newsWrap{ display:flex; gap:1rem; }
.newsWrap .newsLst{ width:50%; border-radius:1rem; background:#fff; box-shadow:0 0.2rem 0.2rem rgba(0,0,0,.3) }
.newsWrap .newsLst img{ width:100%; }
.newsWrap .newsLst > p{ width:100%; padding:1rem; background:#777; border-radius:1rem 1rem 0 0; color:#fff; font-size:0.88rem; }
.newsWrap .newsLst .newsCont{ padding:1rem; }
.newsWrap .newsLst .newsCont p{ height:4rem; margin-bottom:1rem; }


/* 일정 결과 */
.schedulBox{ margin-top:1.3rem; }
.schedulBox.swiper{ overflow:inherit }
.schedulBox .schLst{ border:0.1rem solid #ea002c; border-radius:1rem; box-shadow:0 0.3rem 0.3rem rgba(0,0,0,.3); }
.schedulBox .schLst .schTop{ background:#ea002c; padding:1.5rem 1.2rem; border-radius:1rem 1rem 0 0; }
.schedulBox .schLst .schTop p{ color:#fff; font-family:'Gmarket sans', sans-serif; }
.schedulBox .schLst .schTop p.schTopTxt{ font-size:0.8rem; }
.schedulBox .schLst .schTop p.schTopData{ font-size:1.2rem; font-weight:600 }
.schedulBox .schLst .schCont{ position:relative; padding:1.5rem 1.2rem; }
.schedulBox .schLst .schCont h3{ font-weight:600; font-size:1.3rem; color:#000; height:6rem; }
.schedulBox .schLst .schCont .schDataBox{ border-top:0.1rem solid #d7d7d7; padding-top:1rem; }
.schedulBox .schLst .schCont .schDataBox{ display:flex; }
.schedulBox .schLst .schCont .schDataBox .schDt{ width:12rem; }
.schedulBox .schLst .schCont .schDataBox .schDt p + p{ margin-top:0.3rem; }
.schedulBox .schLst .schCont .schDataBox .schBtn{ position:absolute; width:4rem; height:4rem; right:1.5rem; bottom:0.56rem; border-radius:100%; display:flex; align-items:center; justify-content: center; border:0.2rem solid #fff; box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.3); background:#333 }
.schedulBox .schLst .schCont .schDataBox .schBtn p{ color:#fff }
.schedulBox .schLst .schCont .schDataBox .schBtn.acceping{ background:#ea002c }
.schedulBox .schLst .schCont .schDataBox .schBtn.acceping p{ color:#fff; }
.schPrev{ position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); z-index:99; width:100%; box-sizing: border-box; }
/* 일정결과 next, prev 버튼 */
.schPrev div{ background:#fff; border-radius:100%; width:2.5rem; height:2.5rem; border:0.15rem solid #ea002c }
.schPrev div { width:2.5rem; height:2.5rem; }
.swiper-button-next:after, .swiper-button-prev:after{  display:none; }
.schPrev div{ background-image: url(../images/next.png); width:3rem; height:3rem; background-color:#fff; background-repeat:no-repeat; background-size:cover; border-radius:100%; border:0.2rem solid #ea002c }
.schPrev .swiper-button-next.swiper-button-disabled, .schPrev .swiper-button-prev.swiper-button-disabled{ border:0.2rem solid #999; background:url(../images/next_dash.png); background-size:cover; background-repeat:no-repeat; }
.schPrev .swiper-button-prev, .schPrev .swiper-button-prev.swiper-button-disabled{ transform:rotate(-180deg) }

@media(max-width:380px){
    .schedulBox .schLst .schCont .schDataBox .schDt p + p{ margin-top:0.3rem; }
    .schPrev div{ width:2.5rem; height:2.5rem; }
}

/* 하이라이트, 포토 갤러리 공통 */
.bannerNot h2{ font-size:1.8rem; font-weight:600; color:#000; }
.bannerNot h2 span{ color:#ea002c; padding-right:0.2rem; }
.bannerNot p{ width:100%; padding:1rem 0; text-overflow:ellipsis; white-space: nowrap; overflow:hidden; }

/* bannerNot */
.bannerNot{ position:relative; max-width:1440px; margin: auto; padding-top:calc(450/140 * 2rem); background-size:100% 6rem; }
.bannerNot:before{ content:''; position:absolute; width:100%; height:6rem; background:url(../images/banner_M.png)no-repeat top; background-size:contain; left:0; top:0; }
.bnNotWrap{ display:flex; flex-direction: column; gap:1rem; }
.bnNotWrap > div{ width:100%; }

/* bannerNot highlights */
.higCont .higThumb{ position:relative; width:100%; height:0; padding-top:calc(1000/100 * 1.6rem); }
.higCont .higThumb iframe, .higCont .higThumb img{ position:absolute; top:0; left:0; width:100%; height:100%; }
.higCont .higThumb img{ object-fit: cover; }

/* bannerNot - sponser */
.sponser{ position:relative; width:17rem !important; height:15rem; background:#fff; box-shadow:0.2rem 0 0.5rem rgba(0,0,0,.3); margin:-2.4rem auto 2rem; border-radius:0 0 2rem 2rem;  padding:6rem 1.2rem 1rem }
.sponser .sponserTit{ color:#fff; background:url(../images/sponTitle.png)no-repeat center; background-size:contain; position:absolute; width:11rem; height:5.5rem; top:-1.3rem; left:3rem; z-index:11; }
.sponser .sponserTit span{ position:absolute; left:1rem; bottom:1rem; color:#fff; font-size:1.8rem; font-weight:300 }
.sponser .sponserTit span i{ font-weight:600 }
.sponSwiper{ height:100%; }
.sponser .sponCont{ height:100%; }
.sponser .sponLst{ height:3.8rem; text-align:center; }
.sponser .sponLst img{ width:100%; height:100%; object-fit:contain; }

.sponser .sponSwiper{ margin-top:0; }
.sponser .swiper-pagination-bullets, .sponser .swiper-pagination-bullets.swiper-pagination-horizontal, .sponser .swiper-pagination-custom, .swiper-pagination-fraction{ position:absolute; bottom:0; }
.sponser .swiper-pagination-bullet{ border-radius:0; width:28%; height:0.2rem; }
.sponser .swiper-pagination-bullet-active{ background:#ea002c }

/* infoServ */
.infoServ{ max-width:1440px; margin:auto; background:url(../images/mainBan02_M.png)no-repeat; background-size:cover; padding:2rem 2rem 1.5rem; border-radius:1rem; }
.infoServ h2{ color:#fff; font-size:1.5rem; font-weight:600; text-align:center; }
.infoServ > p{ text-align:center; color:#fff; margin-top:0.8rem; font-size:1rem; }
.infoServ .infoServCont{ display:flex; gap:1rem; flex-direction: column; margin-top:1.5rem; }
.infoServ .infoServCont .infoServLst{ width:100%; background:#fff; padding:1rem 1rem; border-radius:0.5rem; }
.infoServ .infoServCont .infoServLst p{ position:relative; font-weight:600; padding-left:1rem; font-size:1rem; }
.infoServ .infoServCont .infoServLst p:after{ content:''; position:absolute; width:0.5rem; height:0.5rem; background:#ea002c; left:0; top:0.7rem; }
.infoServ .infoServCont .infoServLst p span{ padding-left:0.5rem; color:#666; font-size:0.8rem; }

/* fencers */
.fenWrap{ padding:0; }
.fenWrap h2{ text-align:center; }
.fenIc{ vertical-align:middle; padding-left:1rem; }
.fencers{ position:relative; max-width:1440px;  margin:auto; background-size:contain }
.fencers h2{ color:#000; font-weight:600; font-size:1.8rem; text-align:center; }
.fencersTab{ margin:auto; display:flex; flex-direction:column; align-items: center; margin:1.5rem 0 0; }
.fencersTab > ul{ border:1px solid #d7d7d7; width:15rem; display:flex; border-radius:5rem; justify-content:space-between; }
.fencersTab > ul > li{ padding:0.8rem 1.3rem; background:#fff; font-weight:600; border-radius:5rem; box-sizing: border-box; cursor:pointer; }
.fencersTab > ul > li:hover, .fencersTab > ul > li.active{ background:#ea002c; color:#fff; transition: .3s; }
.fenTabCont{ display:none;}
.fenTabCont.active{ display:block; }
.fencCont{ width:100%; display:flex; gap:1rem; flex-direction:column; justify-content: center; padding:2rem 1rem; background:#f5f5f5 }
.fencCom{ position:relative; display:flex; gap:1rem; background:#fff; padding: 2rem 1rem 1rem 2rem; border-radius:1rem; border:0.2rem solid #d7d7d7; box-shadow:0 0 0.4rem rgba(0,0,0,.3); }
.fencCom:after{ content:''; position:absolute; width:0.5rem; height:100%; background:#ea002c; left:0; top:0; border-radius:1rem 0 0 1rem; }
.fencCom .fenImg{ position:relative; width:6rem; height:6rem; border-radius:1rem; border:0.15rem solid #ea002c; }
.fencCom .fenImg:after{ content:''; position:absolute; top:-1.5rem; left:50%; transform:translateX(-50%); width:2rem; height:1.5rem; background:url(../images/fenWin.png)no-repeat; background-size:contain; }
.fencCom .fenImg img{ width:100%; height:100%; object-fit:cover; border-radius:1rem; }
.fencCom .fencInfo{ width:100%; }
.fencCom .fencInfo p{ color:#ea002c; font-weight:500; font-size:0.88rem; }
.fencCom .fencInfo h3{ position:relative; color:#000; font-size:1.6rem; font-weight:600; margin-top:0.4rem; z-index:9 }
.fencCom .fencInfo h3:after{ content:''; position:absolute; width:100%; height:1rem; background:#f5f5f5; left:0; bottom:0; z-index:-1 }
.fencCom .fencInfo ul { margin-top:1rem; }
.fencCom .fencInfo ul li{ margin:0.4rem 0; line-height:1.5 }
.fencCom .fencInfo ul li .fencDl{ width:6rem; display:inline-block; }


/* 증명서 바로가기 */
.bottomBaner{ background:url(../images/mainBotBan.png)no-repeat top center; width:100%; height:8rem; background-size:cover; padding:1rem; display:flex; flex-direction: column; align-items:center; justify-content: center; gap:0.5rem; }
.bottomBaner p, .bottomBaner p a { text-align:center; color:#fff; }
.bottomBaner a { font-size:1.5rem; font-weight:600 }


/* 국가대표 소개 */
.playerInfo{ text-align:center; }
.fencWrap{ position:relative; max-width:1440px; margin: 2rem auto 0; }
.fencPlayer .slick-list{ display:flex; align-items:center; padding:1rem; height:28rem; }
.fencPlayer .slick-track{ display:flex; align-items:center; }
.fencPlayer .fenLst{ box-shadow:0 0 0.5rem rgba(0,0,0,.3); margin:0.5rem; border-radius:1rem; padding:1rem; display:flex !important; flex-direction:column; align-items:center; }
.fencPlayer .fenLst .fenProf{ width:5rem; height:5rem; border-radius:100%; margin:1.5rem 0; overflow:hidden; }
.fencPlayer .fenLst .fenProf img{ width:100%; height:100%; }

.fencPlayer .fenLst.slick-center{ width:23rem !important; height:auto; text-align:center; background:url(../images/fenBg.png)no-repeat; background-size:cover; padding:0 1rem 1rem; }
.fencPlayer .fenLst.slick-center .fenTit{ padding:1rem 1.5rem; background:#000; border-radius:0 0 1rem 1rem; }
.fencPlayer .fenLst.slick-center .fenTit p{ color:#ffe8ab; font-size:0.8rem; margin-bottom:0.3rem; }
.fencPlayer .fenLst.slick-center .fenTit h3{ font-size:1.5rem; color:#fff; font-weight:600 }
.fencPlayer .fenLst.slick-center .fenProf{ width:8rem; height:8rem; }
.fencPlayer .fenLst.slick-center .fenUl ul{ text-align:left; }
.fencPlayer .fenLst.slick-center .fenUl ul li { padding:0.4rem 0; }
.fencPlayer .fenLst.slick-center .fenUl ul li span{ color:#fff; }
.fencPlayer .fenLst.slick-center .fenUl ul li span.fencDl{ width:8rem; display:inline-block; }
.fencPlayer .fenLst.slick-center .fenCent{ display:block; }
.fencPlayer .fenLst.slick-center .fenRow{ display:none; }
.fencPlayer .fenLst .fenCent{ display:none; }
.fencPlayer .fenLst .fenRow{ display:block; }
.fencPlayer .slick-dots{ width:83%; display:flex !important; bottom:0 }
.fencPlayer .slick-dots li{ width:100%; text-indent:-9999px; background:#d7d7d7; height:0.2rem; }
.fencPlayer .slick-dots li.slick-active{ background:#ea002c }
.fencPlayer .slick-dots li button{ width:100%; }
.fencPlayer .slick-arrow, .fencPlayer .slick-next:focus{ position:absolute; left:auto; top:auto; right:0; width:2rem; height:2rem; text-indent:-9999px; background-color:transparent; border-radius:100%; border:0.12rem solid #777; background:url(../images/next_dash.png) no-repeat; background-size:contain; }
.fencPlayer .slick-next:focus{ background:#fff url(../images/next_dash.png) no-repeat !important; background-size:contain }
.fencPlayer .slick-prev.slick-arrow, .fencPlayer .slick-prev:focus { right:5rem; bottom:-0.9rem; transform:rotate(-180deg) }
.fencPlayer .slick-next.slick-arrow { bottom:-1.8rem; }

.slick-dots li button:before{ opacity: 0 !important; }

/* 슬릭 일시정지 */
.fencWrap .playBtn{ position:absolute; right:2.5rem; bottom:-0.5rem; width:2rem; height:2rem; display:flex; align-items:center; justify-content: center; }
.fencWrap .playBtn .btn_pause{ background:url(../images/play.png)no-repeat; text-indent:-9999px; width:1rem; height:1rem; outline: none; border:none; background-size:contain; }
.fencWrap .playBtn .btn_pause.on{ background: url(../images/play-button.png)no-repeat; background-size:contain }


@media(max-width:480px){

    /*다양한 정보 서비스*/
    .infoServ{ padding:2rem 1rem 1.5rem }
    .infoServ > p{ font-size:0.88rem; }

    /* top ranked fencers */
    .fencCom{ height:18.5rem; }
    .fencCom .fencInfo p{ margin-top:1rem; }
    .fencCom .fencInfo ul{ position:absolute; margin-top:1rem; left:2rem; top:8rem }
    .fencCom .fencInfo ul li .fencDl{ width:7rem; }
    .fencCom .fencInfo ul li span{ font-size:0.88rem; }
    
    /* 국가대표 소개 */
    .fencWrap .playBtn{ right:3rem; }
    .fencPlayer .fenLst.slick-center{ width:17.5rem !important; }
    .fencPlayer .fenLst.slick-center .fenTit{ padding:0.7rem 1rem; }
    .fencPlayer .fenLst.slick-center .fenTit h3{ font-size:1.3rem; }
    .fencPlayer .fenLst.slick-center .fenCent{ margin-top:1rem; }
    .fencPlayer .fenLst.slick-center .fenProf{ width:6rem; height:6rem; margin:1rem 0; }
    .fencPlayer .fenLst.slick-center .fenUl ul li span{ font-size:0.88rem; }
    .fencPlayer .fenLst.slick-center .fenUl ul li span.fencDl{ width:7rem; }
    .fencPlayer .slick-prev.slick-arrow{ right:5.5rem; }
    .fencPlayer .slick-dots{ width:55%; bottom:0.4rem; }


    /* 증명서 발급 */
    .bottomBaner p a{ font-size:1.2rem; }
    .bottomBaner p{ font-size:0.88rem; }

}